.DS_Store

# OpenStack configuration file
openrc.sh
openrc-*.sh

# Environment vars
.env

# Built configuration files
configurations/traefik/traefik.toml

configurations/mails/config/rspamd/dkim/rsa-*
configurations/mails/config/rspamd/override.d/dkim_signing.conf
configurations/mails/config/postfix-accounts.cf
configurations/mails/config/postfix-virtual.cf
configurations/mails/config/user-patches.sh

configurations/snappymail/application.ini
configurations/snappymail/domain.json

configurations/authelia/configuration.yml
configurations/authelia/users_database.yml