.DS_Store

# OpenStack configuration file
openrc.sh
openrc-*.sh

# Environment vars
.env

# Built configuration files
configurations/traefik/traefik.toml
configurations/xbs/settings.json
configurations/cryptpad/config.js
configurations/mails/smtpd.conf
configurations/mails/dkim_signing.conf
configurations/mails/dovecot.conf
configurations/mails/aliases
configurations/mails/virtuals
configurations/mails/dkim-*
