.DS_Store

# OpenStack configuration file
openrc.sh
openrc-*.sh

# Environment vars
.env

# Built configuration files
configurations/traefik/traefik.toml
configurations/cryptpad/config.js

configurations/mails/config/rspamd/dkim/rsa-*
configurations/mails/config/rspamd/override.d/dkim_signing.conf
configurations/mails/config/postfix-accounts.cf
configurations/mails/config/postfix-virtual.cf
