[submodule "configurations/standardnotes/extensions/simple-task-editor"]
	path = configurations/standardnotes/extensions/simple-task-editor
	url = git@github.com:sn-extensions/simple-task-editor.git
[submodule "configurations/standardnotes/extensions/plus-editor"]
	path = configurations/standardnotes/extensions/plus-editor
	url = git@github.com:sn-extensions/plus-editor.git
[submodule "configurations/standardnotes/extensions/secure-spreadsheets"]
	path = configurations/standardnotes/extensions/secure-spreadsheets
	url = git@github.com:standardnotes/secure-spreadsheets.git
[submodule "configurations/standardnotes/extensions/markdown-pro"]
	path = configurations/standardnotes/extensions/markdown-pro
	url = git@github.com:standardnotes/markdown-pro.git
[submodule "configurations/standardnotes/extensions/quick-tags"]
	path = configurations/standardnotes/extensions/quick-tags
	url = git@github.com:standardnotes/quick-tags.git
