# Domains
NOTES_DOMAIN=notes.***REMOVED***.me
PASSWORDS_DOMAIN=sesame.***REMOVED***.me
CLOUD_DOMAIN=cloud.***REMOVED***.me
BOOKMARKS_DOMAIN=bookmarks.***REMOVED***.me
CALENDAR_DOMAIN=calendar.***REMOVED***.me

# Looks ugly, yeah ? Well, shell expansions: FUCK YOU.
# Quote what needs to be quoted ONLY (', <spaces>, etc)
CLOUD_MASTER_PASSWORD="This\ is\ a\ \'strong\'\ password"
CALENDAR_ADMIN_PASSWORD=ThisIsAnAdminPassword
EMAIL=***REMOVED***@***REMOVED***.me
USER=***REMOVED***

# ⚠ WARNING ⚠
# These values are not replaced by Docker as one would expect.
# Thus, we cannot use references like ${EMAIL} below since Docker
# will use the value as if it were a string, which is not what we want.
# See https://stackoverflow.com/a/27639995/1741150 for more info.

##### DOCKER SPECIFIC #####

############## DB (for passbolt, baikal and notes)
MYSQL_ROOT_PASSWORD=test

############## Passbolt
APP_FULL_BASE_URL=https://sesame.***REMOVED***.me
DATASOURCES_DEFAULT_HOST=mysql
DATASOURCES_DEFAULT_DATABASE=passbolt
DATASOURCES_DEFAULT_USERNAME=passbolt
DATASOURCES_DEFAULT_PASSWORD=test

############## Baikal
BAIKAL_AUTH_REALM=BaikalDav
BAIKAL_DATABASE=baikal
BAIKAL_USERNAME=baikal
BAIKAL_PASSWORD=test
CONTAINER_DOMAIN_NAME=calendar.***REMOVED***.me
CONTAINER_HOST_NAME=calendar

############## Notes
RAILS_ENV=production
RAILS_SERVE_STATIC_FILES=true
SECRET_KEY_BASE=chAnGeM3
DB_CONNECTION=mysql
DB_HOST=mysql
DB_DATABASE=standardfile
DB_USERNAME=standardfile
DB_PASSWORD=test

############## Cozy
COMPOSE_PROJECT_NAME=cozy
DOMAIN=cloud.***REMOVED***.me
ACME_EMAIL=***REMOVED***@***REMOVED***.me

# CouchDB
COUCHDB_PROTOCOL=http
COUCHDB_HOST=couchdb
COUCHDB_PORT=5984
COUCHDB_USER=cozy
COUCHDB_PASSWORD=SomeRandomlyGeneratedPassword

# Stack
COZY_ADMIN_PASSPHRASE=AnotherRandomlyGeneratedPassword
COZY_PASSWORD_RESET_INTERVAL=15m

# Mail
MAIL_HOST=localhost
MAIL_PORT=465
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_DISABLE_TLS=false
MAIL_SKIP_CERTIFICATE_VALIDATION=false


############## XBS
XBS_API_HOSTNAME=bookmarks.***REMOVED***.me
MONGO_INITDB_DATABASE=xbrowsersync
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=test
XBROWSERSYNC_DB_USER=xbs
XBROWSERSYNC_DB_PWD=test
