postmaster@$TOP_DOMAIN $MAIL_PRINCIPAL_USER+postmaster@$TOP_DOMAIN
MAILER-DAEMON@$TOP_DOMAIN $MAIL_PRINCIPAL_USER+postmaster@$TOP_DOMAIN
abuse@$TOP_DOMAIN $MAIL_PRINCIPAL_USER+postmaster@$TOP_DOMAIN
security@$TOP_DOMAIN $MAIL_PRINCIPAL_USER+postmaster@$TOP_DOMAIN
