postmaster@$TOP_DOMAIN     $MAIL_PRINCIPAL_USER@$TOP_DOMAIN
MAILER-DAEMON@$TOP_DOMAIN  $MAIL_PRINCIPAL_USER@$TOP_DOMAIN
abuse@$TOP_DOMAIN          $MAIL_PRINCIPAL_USER@$TOP_DOMAIN
security@$TOP_DOMAIN       $MAIL_PRINCIPAL_USER@$TOP_DOMAIN

$MAIL_PRINCIPAL_USER@$TOP_DOMAIN          vmail

@$TOP_DOMAIN               error:550 Yeah hi - Fuck off
