# documentation: https://rspamd.com/doc/modules/dkim_signing.html

enabled = true;

sign_authenticated = true;
sign_local = true;

use_domain = "header";
use_redis = false;   # don't change unless Redis also provides the DKIM keys
use_esld = true;

check_pubkey = true; # you wan't to use this in the beginning

domain {
    tchap.me {
        path = "/tmp/docker-mailserver/rspamd/dkim/rsa-1024-$DKIM_SELECTOR-$TOP_DOMAIN.private.txt";
        selector = "$DKIM_SELECTOR";
    }
}